.main {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
  background-image: url('../../../assets/images/gamepad.webp');
  background-repeat: no-repeat;
  background-position: 200px 120px;
}

.main__title {
  color: #ffffff;
}

.main__description {
  color: #ffffff;
}

.main__button {
  width: 149px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
